/* custom_css1.css */
img {
    border: 1px solid black;
}

img.no-border {
    border: none;
  }


.youtube-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    border: 1px solid black;
}

.youtube-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.caption {
    color: grey; 
    font-size: small; 
    text-align: center; 
    margin-top: 0.5em; 
    display: block;
}

br {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
}
