<!-- Hinweistext für den Kommentarbereich -->
<div style="margin-bottom: 100px !important;">
 <br>
 <br>
 <br>
 <hr>
 <h2>Comment Section / Kommentarbereich</h2>  
    <br>
    <p>⚠️ Feel free to comment in any language, though English or German is preferred. Please note, interface elements of the comment feature are available in English only. Comments made on one language version of a post do not appear on other language versions. I am working on a solution.</p>
    <br>
    <p>⚠️ Kommentieren Sie gerne in jeder Sprache, bevorzugt jedoch auf Englisch oder Deutsch. Beachten Sie bitte, dass Benutzeroberflächenelemente der Kommentarfunktion ausschließlich auf Englisch verfügbar sind. Kommentare, die in einer Sprachversion eines Beitrags verfasst werden, erscheinen nicht in den anderen Sprachversionen. Ich arbeite an einer Lösung.</p>
</div>

<!-- Disqus Kommentarbereich -->
<div id="disqus_thread" style="margin-top: 100px;"></div>
<script>
    /**
    * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mjmrozek.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
